@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');

html, body {
    font-family: 'Cardo';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

.button {
    font-family: 'Open Sans';
}

.content {
    max-width: 50rem;
    margin: 0 auto;
}

header {
    background-color: #fff;
}

nav .navbar-brand img {
    max-height: 5rem;
    height: 5rem;
}


.camera-icon span {
    display: inline-block;
    position: relative;
    top: 0.25rem;
    padding: 0 3px;
}
.camera-icon span path {
    fill: #ccc;
}

table {
    padding-bottom: 2rem;
}

table.table thead tr.noborder th[scope="col"] {
    border: none;
}

tbody td span {
    font-size: 90%;
    color: #666;
}

.control.vertical.radio label {
    display: block;
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    margin-right: 1ex;
}

.interstitial {
    margin-top: 5rem;
}

#timeslice-dropdown {
    padding-top: .5ex;
}

.label:not(:last-child) {
    margin-bottom: 0;
}

.label {
    padding-top: .5rem;
}

.field.units {
    padding-top: 15px;
}

.section {
    padding: 1.5rem;
}

#nan_values {
    display: none;
}

#above_tables {
    display: none;
}

.dash-dropdown {
    max-width: 35rem;
}

.label_spacing {
    padding-right: 2rem;
}

#map {
    width: 50rem;
    height: 39rem;
}

#airports-dropdown.Select {
    width: 25rem;
}

.words-block-grey {
    background: #f4faff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.roomy {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.leaflet-grab {
    cursor: pointer !important;
}

footer.footer {
    padding-bottom: 8rem;
}

.footer {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    font-family: "Open Sans";
}

.footer div.wrapper {
    margin: 2rem auto 0;
    display: flex;
    height: 8rem;
    max-height: 8rem;
}


.footer img {
    min-width: 12.5vw;
    max-width: 150px;
    padding: 0 1rem;
    display: block;
    position: relative;
    top: .25rem;
    object-fit: contain;
    align-self: flex-start;
}

.footer p {
    text-align: left;
    font-size: 0.95rem;
    margin: 0 1rem 1rem;
}

.footer div.wrapped {
    flex: 1 1 auto;
}